* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 91px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #21222a;
}

.logo-container {
  display: flex;
  align-items: center;
}

.react-logo,
.react-logo-text,
.course-name {
  margin: 20px 5px;
}

.react-logo {
  width: 28.93px;
  height: 28.93px;
}

.react-logo-text {
  font-size: 22.95px;
  color: #61dafb;
}

.course-name {
  align-items: center;
  text-align: center;
  margin: auto 5px;
}

main {
  color: white;
  padding: 57px 27px;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
